body {
  /* Assign default properties of the text in the document. */
  color: #000000;
  font-family: sans-serif;
}

.header {
  background: #ffffff;
  width: 100%;
  text-align: center; /* Since <center> tag is not allowed anymore. */
}

.menu {
  background: #dddddd;
  float: left;
  width: 16%;
  padding: 1%;
  border: 3px solid #222222;
}

.content {
  background: #ffffff;
  float: right;
  width: 78%;
  padding: 1%;
  border: 3px solid #222222;
}

.box {
  background: #dddddd;
  padding: 1%;
  border: 3px dashed #222222;
  font-family: monospace; /* Override with monospace! */
}

hr {
  background-color: #222222;
  color: #222221; /* Cannot be equal to "background-color". */
  height: 3px;
  width: 100%;
  border: 0;
}

img.noborder {
  border: 0; /* Used where the border looks ugly on the background. */
}

img.border {
  border: 3px solid #222222;
}

/* For mobile, remove the left/right page split: */
@media all and (orientation: portrait) {
  menu {
    background: #dddddd;
    border: 3px solid #222222;
  }
  content {
    background: #ffffff;
    border: 3px solid #222222;
  }
}

