body {
  /* Assign default properties of the text in the document. */
  color: #000000;
  font-family: sans-serif;
}

.header {
  background: #ffffff;
  width: 100%;
  text-align: center; /* Since <center> tag is not allowed anymore. */
}

.menu {
  background: #dddddd;
  float: none;
  width: auto;
  padding: 0;
  border: initial;
}

.content {
  background: #ffffff;
  float: none;
  width: auto;
  padding: 0;
  border: initial;
}

.box {
  background: #dddddd;
  padding: 1%;
  border: 3px dashed #222222;
  font-family: monospace; /* Override with monospace! */
}

hr {
  background-color: #222222;
  color: #222221; /* Cannot be equal to "background-color". */
  height: 3px;
  width: 100%;
  border: 0;
}

p.warning {
  color: #ff0000;
  font-weight: bold;
}

img.noborder {
  border: 0; /* Used where the border looks ugly on the background. */
  max-width: 100%;
}

img.border {
  border: 3px solid #222222;
  max-width: 100%;
}

